@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@media only screen and (min-width: 1440px) {
    body {
        background-color: hsl(233, 47%, 7%);  
        margin: 0; 
    }
    
    .imageAndText{
        display: flex;
        padding: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .text {
        background-color: hsl(244, 38%, 16%);
        font-family: 'Inter';
    }
    
    .header {
        color: hsl(0, 0%, 100%);
        padding: 20px;
    }
    
    .textBelowHeader {
        color: hsla(0, 0%, 100%, 0.75);
        padding: 20px;
        font-size: 15px;
    }
    
    .companies, .template, .queries {
        padding: 20px;
        margin: 10px;
    
    }
    
    .header {
        font-size: 50px;
        margin: top;
    }
    
    .insightsText {
        color: #CBC3E3;
    }
    
    .stats {
        display: flex;
        text-align: center;

    }
}


